<html xmlns:th="http://www.thymeleaf.org">
<!-- head fragment -->
<head th:fragment="head(title,links)">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/public/css/bootstrap.css" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<link rel="stylesheet" href="/static/css/common.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" />
    <th:block th:replace="${links} ?: _" />
	<title th:text="${title} + ' | 健食問2020'"></title>
</head>
<body>
	<!-- header fragment -->
	<header th:fragment="header">
		<div id="mainTitle">
			<a class="visible-pc" href="/home">健康栄養学科 食物栄養専攻 2020 問題集</a>
			<a class="visible-sp" href="/home">健栄2020問題集</a>
		</div>
	</header>
	<!-- 問題がない場合に出すメッセージのfragment -->
	<div th:fragment="no-question-msg" style="text-align: center;">
		まだ問題がありません。
	</div>
	<!-- footer fragment -->
	<footer th:fragment="footer">
		<div id="copyright">© 2020 by 38</div>
		<script type="text/javascript" src="/public/js/jquery-3.4.1.min.js"></script>
		<script type="text/javascript" src="/public/js/bootstrap.bundle.js"></script>
		<script type="text/javascript" src="/static/js/app.js"></script>
	</footer>
</body>
</html>